@import '../../variables';
@import '../../mixins';

$chart-border: 10px solid $app-theme;

.chart-container {
	border-top: $chart-border;
	border-bottom: $chart-border;

	&:focus {
		@include focussedContainer;
	}
}
