@mixin flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@mixin focussed {
	cursor: pointer;
	outline: 2px ridge orangered;
	outline-offset: 5px;
}

@mixin hovered {
	cursor: pointer;
}

@mixin focussedContainer {
	box-shadow: 0 0 10px 2px;
	outline: none;
}
