$app-theme: orange;

$lighter-gray: rgba(0, 0, 0, 0.3);
$darker-gray: rgba(0, 0, 0, 0.7);

$font-xs: 10px;
$font-s: 12px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 24px;

$font-normal: normal;
$font-bold: bold;

$font-color-white: white;
$font-color-light: rgb(180, 180, 180);
$font-color-normal: rgb(90, 90, 90);
$font-color-dark: rgb(0, 0, 0);
$font-color-url-visited: purple;
