@import '../../variables';
@import '../../mixins';

.table-container {
	.table-header {
		background-color: $app-theme;
		color: white;
		/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
		font-family: Calibri;
		font-size: $font-m;
		font-weight: $font-bold;
		padding: 20px 5px;
	}

	.vote {
		height: 0;
		width: 0;
		border: 7.5px solid rgba(0, 0, 0, 0);
		border-bottom: 10px solid orange;
		border-top: none;

		&:hover {
			filter: drop-shadow(0 0 7.5px black);

			@include hovered;
		}

		&:focus {
			@include focussed;
		}
	}

	.news-detail-container {
		text-align: left;

		* {
			padding: 0 2px;
		}

		.news-detail-prominent {
			font-weight: $font-bold;
			font-size: $font-m;
		}

		.news-detail-title {
			color: $font-color-dark;
			text-decoration: none;

			&:hover {
				text-decoration: underline;

				@include hovered;
			}

			&:focus {
				@include focussed;
			}

			&:visited {
				color: $font-color-url-visited;
			}
		}

		.news-detail-normal {
			font-weight: $font-bold;
		}

		.news-detail-normal,
		.news-detail-fainted {
			font-size: $font-s;
		}

		.news-detail-hide {
			&:hover {
				text-decoration: underline;

				@include hovered;
			}

			&:focus {
				@include focussed;
			}

			&::before {
				content: '[';
			}

			&::after {
				content: ']';
			}
		}

		.news-detail-url::before,
		.news-detail-url::after,
		.news-detail-hide::before,
		.news-detail-hide::after,
		.news-detail-fainted {
			color: $font-color-light;
		}
	}

	&:focus,
	&:focus-within {
		@include focussedContainer;
	}
}
